@font-face {
  font-family: FiraSans;
  font-weight: bold;
  src: url(../fonts/FiraSans-Bold.woff),
      url(../fonts/FiraSans-Bold.woff2);
}
@font-face {
  font-family: FiraSans;
  font-weight: normal;
  src: url(../fonts/FiraSans-Light.woff),
      url(../fonts/FiraSans-Light.woff2);
}