@import './fontStyle.less';
@import './globalVariables.less';
@import '../components/todo/todo.less';
@import '../pages/home/home.less';

html {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  background-color: @htmlColorBackground;
}

body {
  margin: 0 auto;
  max-width: @maxWidthBody;
  min-width: @minWidthBody;
  box-sizing: border-box;
  min-height: 100%;
  display: flex;
  flex-direction: column;
}