body, html {
    margin: 0;
    padding: 0;
}
body {
    background-color: bisque;
    padding-bottom: 14px;
}

.first-caption {
    margin: 0;
    padding: 10px 13px;
    background-color: blue;
    color: aliceblue;
    font-size: 27px;
    font-weight: normal;
    font-family: FiraSans, sans-serif;
}

.component-wrapper {
    margin: 0 11px;
}
.component-wrapper_first {
    margin-top: 13px;
}
.component-wrapper_second {
    margin: 17px auto 0;
    max-width: 680px;
}

@font-face {
    font-family: FiraSans;
    src: url(../fonts/FiraSans-Bold.eot),
        url(../fonts/FiraSans-Bold.ttf),
        url(../fonts/FiraSans-Bold.woff),
        url(../fonts/FiraSans-Bold.woff2);
    font-weight: bold;
}
@font-face {
    font-family: FiraSans;
    src: url(../fonts/FiraSans-Light.eot),
        url(../fonts/FiraSans-Light.ttf),
        url(../fonts/FiraSans-Light.woff),
        url(../fonts/FiraSans-Light.woff2);
}

@import '../components/todo/todo.less';