include ../../components/todo/todo.pug
include ../../components/head/head.pug
doctype html
+head('Home page')
block contentOfPage
  body(class='home-page')
    h1(class='home-page__main-caption') Страница компонентов  
    div(class='home-page__component-container')
      section(class='home-page__component-wrapper')
        +todo
      section(class='home-page__component-wrapper')
        +todo
      section(class='home-page__component-wrapper')
        +todo
      section(class='home-page__component-wrapper')
        +todo