mixin todo(identifier)
  div(class="todo-container", class= identifier)
    h2(class="todo-container__caption") Создание задач
    textarea(class='todo-container__text', class='js-todo-container__text', id='text', name='text', cols='30', rows='10', placeholder='Введите задачу')
    p(class='todo-container__counter', class='js-todo-container__counter')
      span Кол-во задач: 
      span 0
    button(class="todo-container__button", class="js-todo-container__button", disabled) Добавьте
    ul(class="todo-container__list", class="js-todo-container__list")