mixin todo
  .TODO-container
    h2.TODO-container__caption &Scy;&pcy;&icy;&scy;&ocy;&kcy; &zcy;&acy;&dcy;&acy;&chcy;
    textarea#text.TODO-container__text(name='text' cols='30' rows='10' placeholder='Введите задачу')
    button.TODO-container__button &Dcy;&ocy;&bcy;&acy;&vcy;&icy;&tcy;&softcy;
    ul.TODO-container__list