mixin todo
  div(class='todo-container')
    h2(class='todo-container__caption') Создание задач
    textarea(class='todo-container__text js-todo-container__text', name='text', cols='30', rows='10', placeholder='Введите задачу')
    p(class='todo-container__counter js-todo-container__counter')
      span Кол-во задач: 
      span 0
    button(class='todo-container__button js-todo-container__button', disabled) Добавьте
    ul(class='todo-container__list js-todo-container__list')